* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

/* Common Module Pill Style */
#custom-launcher,
#workspaces,
#clock,
#custom-date,
#pulseaudio,
#backlight,
#battery,
#tray,
#custom-power {
    background-color: #24283b;
    margin: 5px 2px;
    padding: 0 12px;
    border-radius: 10px;
}

/* Arch Launcher (Left) */
#custom-launcher {
    color: #7aa2f7;
    font-size: 16px;
    margin-left: 8px;
}

/* Workspaces (Left) */
#workspaces button {
    padding: 0 8px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #7aa2f7;
}

/* Center Group (Clock + Date) */
#clock {
    color: #bb9af7;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#custom-date {
    color: #bb9af7;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
}

/* Right Side Colors */
#pulseaudio { color: #7dcfff; }
#backlight { color: #e0af68; }
#battery { color: #9ece6a; }

#custom-power {
    color: #f7768e;
    margin-right: 8px;
    font-size: 16px;
}

#custom-power:hover {
    background-color: #f7768e;
    color: #24283b;
}